* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-blurb-wrapper{
    background-color: red;
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.page-blurb-wrapper h1{
    padding-bottom: 1rem;
}
.page-blurb-wrapper p{
    padding-bottom: 1rem;
}
.header-box-grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 2em; 
    grid-template-areas: 
    ". . .";
}
.header-box{
    width: max(100%, 30px);
    aspect-ratio: 1/1;
    background-color: black;
}